[Desktop Entry]
Name=HiddenVM
Comment=Runs VirtualBox for HiddenVM as the clearnet user
Exec=/home/amnesia/.clearnet-vbox/clearnet-vbox.sh
Icon=hiddenvm-icon-color
Terminal=false
Type=Application
Categories=System
